{% extends "::layout.html.twig" %}



{% block title %}
  viewAllArticles
{% endblock %}

{% block body %}
	{% for article in articles %}
        <li>{{ article.name }}</li>
    {% endfor %}

  

{% endblock %}